{% extends "layout.html" %}
{% block title %}Tietoa{% endblock %}
{% block content %}
<div class="page-container">
    <h2>Tietoa</h2>
    <p class="mb-2">Tämä sovellus on harjoitustyö.</p>
    <p class="mb-2">Sivustollamme voit lukea arvosteluja kebab-ravintoloista eri puolilta Suomea, jotka on kirjoitettu oikeiden ihmisten toimesta. Voit myös äänestää suosikkiravintolaasi ja kommentoida ravintolakokemuksiasi. Lisäksi sivustollamme on lueteltu kebab-ravintolat alueellisesti, jotta voit löytää lähimmän kebabilan helposti.</p>
    <p class="mb-2">Haluamme tarjota sinulle helpon tavan löytää Suomen parhaan kebabin, ja siksi olemme myös luoneet Suomen laajuisen ravintolaleaderboardin, jossa näet kaikkien aikojen suosituimmat kebab-ravintolat.</p>
    <p class="mb-2">Tule mukaan yhteisöömme ja löydä uusia suosikkiravintoloitasi!</p>
    
{% endblock %}