{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="page-container">
    Tervetuloa sivustollemme. Tämä sivuston tarkoituksena on tarjota käyttäjille arvokasta tietoa kebab-ravintoloista
    ympäri Suomea.
    <div class="my-5">
        {% if restaurant %}
        <h3>Suosituin ravintola</h3>

        <a href="{{ url_for('show_restaurant', id=restaurant.id) }}">
            <div
                class="bg-white border rounded-lg shadow-md overflow-hidden transition duration-300 ease-in-out hover:bg-gray-100">
                <div class="p-4">
                    <h2 class="text-lg font-bold mb-2">{{ restaurant.name }}</h2>
                    <p class="text-gray-700 mb-4">{{ restaurant.address }}, {{ restaurant.city }}, {{ restaurant.region
                        }}
                    </p>
                    {% with rating=restaurant.rating %}
                    {% include 'includes/rating_chip.html' %}
                    {% endwith %}

                </div>
            </div>
        </a>
        {% endif %}
    </div>
    {% if leaderboard %}
    <h2 class="text-3xl font-bold mt-8 mb-4">Top 5 Ravintolaa tässä kuussa</h2>
    <div class="grid grid-cols-1 gap-4">
        {% for restaurant in leaderboard %}
        <a href="{{ url_for('show_restaurant', id=restaurant.id) }}"
            class="p-4 border rounded flex justify-between transition duration-300 ease-in-out hover:bg-gray-100">
            <div class="text-lg font-bold">
                {{ restaurant.index}}. {{ restaurant['name'] }}, <span class="text-gray-600">{{ restaurant['city']
                    }}</span>
            </div>
            <span class="text-gray-600 text-lg">{{ restaurant['votes'] }} ääntä</span>
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}